:root {
  /* Cores Principais */
  --color-white: #ffffff;

  /* Cores de Acento */
  --color-accent-600: #4863f7;
  --color-accent-500: #7878d7;

  /* Cor de Alerta */
  --color-alert-600: #ff5c5c;

  /* Tons de Cinza */
  --color-gray-900: #0d0d0d;
  --color-gray-800: #111111;
  --color-gray-700: #1a1a1a;
  --color-gray-200: #424242;
  --color-gray-100: #737373;
}

body,
input,
button {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--color-gray-900);
  color: var(--color-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-100);
  border-radius: 4px;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 62px 124px;
  gap: 32px;
  
  overflow-y: scroll;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.btn {
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: filter 0.2s;
}

.btn-outline {
  background: transparent;
  border: 0.5px solid var(--color-gray-200);
  color: var(--color-white);
  padding: 0 20px;
  height: 44px;
  gap: 10px;
  transition: background-color 0.3s;
}

.btn-outline:hover {
  background-color: var(--color-gray-200);
}

.btn-primary {
  background: var(--color-accent-600);
  color: var(--color-white);
  padding: 0 24px;
}

.btn-primary.btn:hover {
  background: var(--color-accent-500);
}

.w-150 {
  width: 150px;
}

.icon {
  width: 20px;
  height: 20px;
}

.prompt-title {
  font-size: 32px;
  font-weight: 600;
  outline: none;
}

.prompt-content {
  font-size: 16px;
  color: var(--color-gray-100);
  background: var(--color-gray-800);
  border-radius: 16px;
  padding: 32px;
  min-height: 180px;
  outline: none;
  border: none;
  line-height: 32px;
  margin-bottom: 0;
}

.editable-wrapper {
  position: relative;
}

.editable-wrapper::before {
  content: attr(data-placeholder);
  position: absolute;

  color: var(--color-gray-200);
  pointer-events: none;
  opacity: 0;
}

.editable-wrapper.is-empty::before {
  opacity: 1;
}

#title-wrapper.is-empty {
  font-size: 32px;
  font-weight: 600;
}

#content-wrapper.is-empty {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 900px) {
  .main {
    padding: 32px 16px;
  }
  .prompt-content {
    padding: 16px;
  }
  .prompt-title {
    font-size: 1.5rem;
  }
}